<nav>
  <ul class="list-none m-0 p-0">
    <li class="p-4 hover:bg-gray-100 transition-all duration-200 ease-in-out">
      <a class="flex items-center gap-2" routerLink="">
        <i class="pi pi-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="p-4 hover:bg-gray-100 transition-all duration-200 ease-in-out">
      <a class="flex items-center gap-2" routerLink="availabilities">
        <i class="pi pi-calendar"></i>
        <span>Availabilities</span>
      </a>
    </li>
    <li class="p-4 hover:bg-gray-100 transition-all duration-200 ease-in-out">
      <a class="flex items-center gap-2" routerLink="chats">
        <i class="pi pi-comments"></i>
        <span>Chats</span>
      </a>
    </li>
  </ul>
</nav>
