<p-card
  class="h-full"
  [ngClass]="{
    'transition-transform duration-200 ease-in-out hover:scale-105': scale(),
  }"
>
  <ng-template #header>
    <img
      class="w-full rounded-t-lg"
      [src]="trainer().user.profilePictureUrl!"
      [alt]="trainer().user.fullName"
    />
  </ng-template>
  <ng-template #title>{{ trainer().user.fullName }}</ng-template>
  <ng-template #footer>
    <div class="flex flex-wrap gap-2">
      @for (specialty of trainer().specialties; track specialty.id) {
        <p-chip [label]="specialty.name" />
      }
    </div>
  </ng-template>
</p-card>
