<div class="flex flex-col gap-4">
  <h1 class="text-2xl font-bold">Filtri</h1>
  <div class="flex flex-col gap-2">
    <label for="search-control">Search</label>
    <input id="search-control" type="text" placeholder="Search" pInputText />
  </div>
  <div class="flex flex-col gap-2">
    <label for="select-control">Select</label>
    <p-multiselect id="select-control" placeholder="Select" />
  </div>
  <p-button
    icon="pi pi-search"
    severity="secondary"
    label="Apply Filters"
    fluid
  />
</div>
