@let result = result$ | async;

<div class="flex flex-col gap-5">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5"
  >
    @if (result?.data; as trainers) {
      @for (trainer of trainers; track trainer.user.id) {
        <a [routerLink]="['/trainers', trainer.user.id]">
          <app-trainer-card [trainer]="trainer" [scale]="true" />
        </a>
      }
    }
  </div>
  @if (result?.pagination; as pagination) {
    <p-card>
      <p-paginator
        [first]="(pagination.page - 1) * pagination.limit"
        [rows]="pagination.limit"
        [totalRecords]="pagination.totalItems"
        [rowsPerPageOptions]="[6, 12, 24]"
        (onPageChange)="fetchTrainers($event)"
      />
    </p-card>
  }
</div>
